img{
    height: 250px;
    width: 500px;
}
.grid-container {
    display: grid;
    gap: 130px 100px;
    grid-template-columns: auto auto;
    grid-template-rows: 300px 300px;
    margin-top: 100px;
  }
  #navi {
    background-color: #213555;
    color: #f5efe7;
    font-family: "Libre Baskerville", serif;
  }
  .navbar {
    background-color: #f3f3f3;
    color: white;
  }
  h1,h2{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
  }
  .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img{
    border: 2px solid white;
  }
  p{
    color: #213555;
  }
  body{
    background-color: #213555;
  }